.btnDiv {
  position: relative !important;
  height: 24px;
  margin-bottom: 1vh;
}

.addBtn_ncl {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  height: 30px;
  margin-top: 0;
  background: rgb(214, 214, 214);
  border: none;
  border-radius: 25px;
  color: rgb(50, 207, 207);
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    7px 7px 20px 0 rgba(0, 0, 0, 0.6);
}

.refreshBtn_ncl {
  position: absolute;
    right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  height: 30px;
  margin-top: 0;
  background: rgb(214, 214, 214);
  border: none;
  border-radius: 25px;
  color: rgb(50, 207, 207);
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    7px 7px 20px 0 rgba(0, 0, 0, 0.6);
}

.addBtn_ncl:hover,
.refreshBtn_ncl:hover {
  box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.edit_delete_btn {
  background-color: transparent;
  display: flex;
  align-items: left;
  justify-content: left;
}

.editBtn .deleteBtn {
  margin: none;
  padding: none;
}

.MUIDataTableNCL {
  border: 1px solid rgba(255, 255, 255, .25) !important;
  border-radius: 20px !important;
  background-color: rgba(255, 255, 255, 0.164) !important;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25) !important;
  backdrop-filter: blur(15px) !important;
  margin-top: 20px !important;
}

.MUIDataTableNCL .MuiTableRow-root {
  height: 25px !important;
}

.MUIDataTableNCL .MuiTableCell-root {
  padding: 4px 16px !important;
}

.MUIDataTableNCL .MuiTableCell-head {
  background-color: rgba(255, 255, 255, 0.096) !important;
}

.tableNCL {
  border: 1px solid transparent;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  position: relative;
  top: 80px;
}

/* Coloured Title Text */
.pageHeader:hover {
  cursor: none;
  transition: ease-in-out;
}

.pageHeaderNCL {
  --border-width: 7px;
  position: relative;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  width: 240px;
  height: 20px;
  text-transform: uppercase;
  border-radius: var(--border-width);
  padding: 5px;
  margin-left: 80%;
  box-shadow: rgba(0.55, 0.55, 0.55, 0.55) 0px 5px 15px;

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%));
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

.nclTxt {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold !important;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  letter-spacing: 5px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 5px;
  width: 245px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  border-radius: 10px;
  box-shadow: rgba(0.55, 0.55, 0.55, 0.55) 0px 5px 15px;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.outerNCL {
  position: absolute;
    top: 150px; 
    right: 310px;
  width: 35px;
  cursor: pointer;
  z-index: 2;
}

.innerNCL {
  width: 35px;
  text-align: center;
}

.closeLabelNCL { 
  font-size: .8em; 
  line-height: 2em;
  text-transform: uppercase;
  color: grey;
  transition: all .3s ease-in;
  opacity: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.innerNCL:before, .innerNCL:after {
  position: absolute;
  content: '';
  height: 1px;
  width: inherit;
  background: #32cfcf;
  left: 0;
  transition: all .3s ease-in;
}

.innerNCL:before {
  top: 50%; 
  transform: rotate(45deg);  
}

.innerNCL:after {  
  bottom: 50%;
  transform: rotate(-45deg);  
}

.outerNCL:hover label {
  opacity: 1;
}

.outerNCL:hover .innerNCL:before,
.outerNCL:hover .innerNCL:after {
  transform: rotate(0);
}

.outerNCL:hover .innerNCL:before {
  top: 0;
}

.outerNCL:hover .innerNCL:after {
  bottom: 0;
}